/*
Theme Name: WP Bootstrap Starter Child
Template: wp-bootstrap-starter
Theme URI: https://afterimagedesigns.com/wp-bootstrap-starter/
Author: Afterimage Designs
Author URI: https://afterimagedesigns.com/
Description:  Plantilla personalizada desarrollada por TIC MAKERS S.A.S
Version: 3.1.0

*/

@import url("../wp-bootstrap-starter/style.css");

.prueba{
    background: red !important;
    color: #ccc;
}

body{
    overflow-x: hidden;
    
    
}

h1,h2,h3,p,a{
    font-family: 'Montserrat', sans-serif;
}

/*header*/
.navbar-brand {

    width: 25%;
}

.gglobe {
    filter: brightness(2.5);
}

.ajustar-busqueda {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* header */

/* Certificaciones y aliados */
.titulo-certifi{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-aliados {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.titulo-certifi h2, .titulo-aliados h2 {
    font-size: 7vh;
    padding: 0;
}
.titulo-certifi p, .titulo-aliados p{
    font-size: 6vh;
    line-height: 0;
}
.img-certifi {
    height: 20vh;
    margin: 2vh;
}

.slide-aliados {
    margin: 2vh 0;
}


/*certificaciones y aliados */

/* Seccion kansy */

.t-izq-kansy {
border: 2px solid #fff;
border-radius: 25px;
margin-top: 5vh;
height: 35vh;
}

.fondo-kansy {
    height: 60vh;
    background: url(/ticmakers/wp-content/uploads/2019/12/fondo-kansy.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.textura-kansy{
    height: 60vh;
    background-color: #00000087;
}

.texto-kansy {
    font-size: 3vh;
    color: #ffffff;
    padding: 2vh;
}

.f-lateral-kansy {
   background: url(/ticmakers/wp-content/uploads/2019/12/computadora.png);
   background-size: contain;
   background-repeat: no-repeat;
    background-position: center;
   height: 40vh;
   margin-top: 3vh;
}

.btn-3 {
	color: #FFF;
	transition: all 0.5s;
    position: relative;
    font-size: 1.5rem !important;
}
.btn-3::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.1);
	transition: all 0.3s;
}
.btn-3:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn-3::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.btn-3:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

/* seccion kansy */

/* itague */

.t-itague {
    border: 2px solid #fff;
    border-radius: 25px;
    margin-top: 5vh;
    height: 35vh;
}
 
.fondo-itague {
    height: 60vh;
    background: url(/ticmakers/wp-content/uploads/2019/12/fondo-itague-f.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-itg {
    width: 25%;
}

.textura-itague{
    height: 60vh;
    background-color: #70980e9c;
    padding: 2rem;
}

.texto-itague {
    font-size: 3vh;
    color: #ffffff;
    padding: 2vh 2vh 0 2vh;
}

.f-lateral-itague {
   background: url(/ticmakers/wp-content/uploads/2019/12/sidepc-itague.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   height: 40vh;
   margin-top: 3vh;
}



/* itague */

